body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 97vh;
    background-color: blanchedalmond;
}

.board {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#box0,
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.row1,
.row2,
.row3 {
    display: flex;
}

.row1 {
    border-bottom: 1px solid black;
}

.row3 {
    border-top: 1px solid black;
}

#box1,
#box4,
#box7 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#box0,
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8:hover {
    cursor: pointer;
}

.restart {
    font-size: 30px;
    margin-top: 30px;
}

.box {
    font-size: 85px;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player1Name,
.player2Name {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startGame {
    margin-top: 25px;
    font-size: 30px;
    border-radius: 10px;
    background-color: violet;
}

.title {
    color: black;
    font-size: 25px;
}

.restart {
    border-radius: 10px;
    background-color: violet;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    background-color: blanchedalmond;
}

.github {
    width: 20px;
    height: 20px;
}

.github:hover {
    transform: scale(1.1)
}